* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./images/background.jpg');
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

.header {
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 0;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.logo {
  font-size: 50px;
}

.tab-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;

}

.tab-nav ul li {
  font-weight: bolder;
  cursor: pointer;
  padding-bottom: 5px;
}

.tab-nav ul li:hover {
  border-bottom: 1px solid white;
}


.page-content {
  display: flex;
  justify-content: center;  
  padding: 2% 20%;
  padding-bottom: 100px;
}

.page-content .home-content, .menu-content, .contact-content{
  padding: 40px 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.page-content .home-content {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 500px;
  height: min(500px);
  gap: 30px;
}

.home-content img {
  width: 300px;
}

.menu-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  width: 80%;
  text-align: center;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  grid-row-gap: 50px;
  padding: 30px;

}

.menu-card {
  display: grid;
  justify-items: center;
  background: rgba(0, 0, 0, 0.9);
  padding: 30px 60px;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
}

.menu-card img {
  width: 150px;
}

.contact-content {
  color: white;
  font-weight: bolder;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 18px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.8);
}

.contact-content p {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  margin-top: 40px;
}